body {
  margin-top: 100px;
  height: 60%;
  margin-left: -20px;
  padding-right: 40px;
  margin-right: -100px;
  background-color:rgb(40, 41, 42);
  margin-bottom: -6%;
}
h4{
    padding-top: 10px;
    font-size: 40px;
    margin-bottom: -0.1%;
}

 .body{
  margin-top: -9px;
  margin-left: 30px;
  height: 300px;
} 
.card {
  margin-top: 8px;
  position: relative;
  width: 250px;
  height: fit-content;
  box-sizing: border-box;
  border-style: solid;
  align-content: center;
  margin-bottom: 8px;
  background-color: rgb(84, 92, 90);
  margin-left: 20px;
}
section{
  margin-top: 60px;
  margin-left: 16px;
  margin-right: 16px;
  width: fit-content;

}

::-webkit-scrollbar{
  width: 0px;
  background: transparent;
}
section h4{
  color: aliceblue;
}

 .mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent{
  background-color:rgba(194, 177, 177, 0.199);
  
  
}
.toptracks h5{
  color: aliceblue;
  position: relative;
  

}
.flex-continer{
  margin-top: 100px;
}
.previousButton{
  color: black;
  background-color: black;
  margin: auto;
}

.nextButton{
  color: black;
  background-color: black;
  margin: auto;
  margin-top: 95px;
}

.images{
  align-content: center;
  padding-left: 15px; 
  margin-top:20px;
  padding-top: 10px;
}

.mat-card-content p{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inherit;
}

#trackName{
  margin: 0px;
  font-size: 20px;
  color: aliceblue;
  font-weight: bold;
}
#artistName{
  margin: 0px;
  color: aliceblue;
}
#duration{
  margin: 0px;
  color: aliceblue;
}

.example-header-image {
  background-size: cover;
}

.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  width: fit-content;
  text-overflow: ellipsis;
}

.button1, .button2{
  align-content: center;
  padding-right: 20px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  color: aliceblue;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
.splash{
  display: flex;
  flex-direction: row;
  margin-bottom: -7%;
}

.images{
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.play{
  margin-top: -150px;
  font-size: 32px;    
  margin-left: 200px;
}

#pink{
  background: #ff4081;
}
#app-wishlist{
  padding-bottom: 100px;
}
#main{
  margin-bottom: 200px;
}
.playTrack{
  cursor: default;
}

.playTrack:hover {
  background-image: linear-gradient(#b1ccda 49%, #96b4c5 51%);
  color: #03324c;
}

