<header>
  <mat-toolbar class="headerbg" fxLayout="column" fxLayout.xs="row">
    <mat-toolbar-row>
      <a  href="https://kamodulabindu.github.io/SWE632_assignment_musix_hw7/tracks"><img id="logo" src="assets/images/logo.jpg" /></a>
      <a  href="https://kamodulabindu.github.io/SWE632_assignment_musix_hw7/tracks"><span class="header"><h3>muzix</h3></span></a>
      <span class="spacer"></span>
      <a href="https://kamodulabindu.github.io/SWE632_assignment_musix_hw7/tracks" class="home"><span class='material-icons home1'>home</span></a>
      <span class="spacer1"></span>
      <a href="" class="home"><mat-icon class='material-icons'>supervisor_account</mat-icon>About Us</a>
      <span class="spacer1"></span>
      <form class="search">
        <mat-form-field class="search-text-field">
          <input
            id="inputSearch"
            tabindex="0"
            type="text"
            #typehead
            matInput
            (input)="searching()"
            [formControl]="search"
            [(ngModel)]="searchSong"
            name="searchSong"
            ng-reflect-model = ""
            (keyup.enter)="searchNavigate()"
            placeholder="search track"
            [matAutocomplete]="auto"
            (focus)="setRecentSearches()"
            (change)="setRecentSearchesFalse()"
          />
          <!-- <button type="button" onclick="ClearFields();">Clear</button> -->

          <button
            type="button"
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Search"
            (click)="searchNavigate()"
            
          >
            <mat-icon
              class="example-icon"
              aria-hidden="false"
              aria-label="Example search icon"
              >search</mat-icon
            >
          </button>
          
          <mat-autocomplete #auto="matAutocomplete">
            <ng-container *ngIf="!displayRecentSearches">
            <mat-option *ngFor="let track of tracks" [value]="track.name">
              <span>{{ track.name }}</span>
              <br />
              <small>{{ track.artist }}</small>
            </mat-option>
            </ng-container>

            <ng-container *ngIf="displayRecentSearches">
              <mat-option *ngFor="let search of recentSearches" [value]="search">
                {{search}}
              </mat-option>
            </ng-container>
          </mat-autocomplete>
          
        </mat-form-field>
        <!-- <div *ngIf="displayRecentSearches">
          <mat-autocomplete  #auto="matAutocomplete">
            <ng-container *ngIf="displayRecentSearches">
            <mat-option *ngFor="let search of recentSearches" [value]="search">
              {{search}}
            </mat-option>
          </ng-container>
          </mat-autocomplete>
        </div> -->
        
        <!-- <div>
          <select *ngIf="displayRecentSearches" ng-model="selected_recent" class="form-control">
           <option>Recents </option>
            <option *ngFor="let search of recentSearches" [value]="search">
              {{ search }}
            </option>
          </select>
        </div> -->
      </form>
    </mat-toolbar-row>
  </mat-toolbar>
</header>