
   
<footer>
  <li>
    <ul>
        <span>&#169;</span>
        <span> Copyrights</span>
    </ul>
        <!-- <span><i class="material-icons help" (click)="openDialog()"> help_outline
            </i> Hep</span> -->
            <ul id="ul1">      
            <button id="button1" (click)="open()"><mat-icon>question_answer</mat-icon><span id="span1">FAQ</span></button>
       </ul>
            <ul id="ul1">
        <span><span class="material-icons">call</span><span id="span1">Contact Us</span></span>
        </ul>
        </li>
        <li>
        <ul id="ul1">
        <mat-icon class="social">facebook</mat-icon><span id="divider"> | </span> </ul>
        <ul> <mat-icon class="social">whatsapp</mat-icon><span id="divider"> | </span> </ul>
          <ul> <span class="material-icons social">snapchat</span><span id="divider">  </span></ul>

</li>
<span id="span"></span>
<li id="li2">
<ul id="ul2">
  <span> <span class="material-icons">support_agent</span>Chat With Us</span>
</ul>
</li>
            
    </footer>
    