<html>
  <head>
    <link href="https://fonts.googleapis.com/icon/icon?family=Material+Icons" rel="styleSheet">
  </head>
  <body>
    <section>
<div class="body1">
  <h4 mat-subheader class="searchResult">Wish List</h4>
  <div class="flex-container" fxLayout="row" fxLayout.xs="row">
    <!-- <button mat-mini-fab class="previousButton">
      <i (click)="previous()" class="material-icons">keyboard_arrow_left</i>
    </button> -->
    <div class="splash" >
      <mat-card fxFlex="80%" fxFlex.xs="80%" class="card">       
          <!-- <img class="images" mat-card-image src="{{track.image[1]['#text']}}" alt="{{track.name}}"> -->
          <img class="images" mat-card-image src="assets/images/logo.jpg" alt="Track_Name">
          <a>
            <i class="material-icons play1">
              play_circle_filled 
            </i>
          </a>
          <mat-card-content class="card-content">
          
          
              <p id="trackName">Song : Creep</p>
              <p id="artistName">Album : Radio Head</p>
              <p id="duration">Duration : 239 s</p>
          </mat-card-content>
          <a routerLink="/saveTrack"> <button mat-mini-fab id="pink"  class="icon"><i class="material-icons">favorite_border</i></button></a>
      </mat-card>
      <mat-card fxFlex="80%" fxFlex.xs="80%" class="card">       
        <!-- <img class="images" mat-card-image src="{{track.image[1]['#text']}}" alt="{{track.name}}"> -->
        <img class="images" mat-card-image src="assets/images/logo.jpg" alt="Track_Name">
        <a>
          <i class="material-icons play1">
            play_circle_filled 
          </i>
        </a>
        <mat-card-content class="card-content">
        
        
            <p id="trackName">Song : Take Me Out</p>
            <p id="artistName">Album : Franz Ferdinand</p>
            <p id="duration">Duration : 256 s</p>
        </mat-card-content>
        <a routerLink="/saveTrack"> <button mat-mini-fab   class="icon" id="pink"><i class="material-icons">favorite_border</i></button></a>
    </mat-card>
    
    </div>
    <div>
    </div>
  </div>
</div>
</section>
</body>
</html>