<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
<section>
    <mat-list>
        <h3 mat-subheader class="searchResult">Search Results</h3>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let track of searchTracks">
            <img mat-list-icon src="assets/images/logo.jpg">
            <h4 mat-line class="name"> {{track.name}}</h4>
            <p mat-line class="artistName">{{track.artist}}</p>
            <a style="margin-left:10px" routerLink="/saveTrack">
            <button mat-mini-fab (click)="createTrack(track)"  class="icon"><i class="material-icons">favorite_border</i></button></a>
            </mat-list-item>
    </mat-list>
</section>
